* {
	transition:0.3s ease;
}

.modal-lg {
	max-width:80%;
}

.navbar {
    z-index:1;
    color:white;
    border:0;
	background-image:url('images/navBGLight.png');
  }

.navbar-default .navbar-nav>li>a{
	color:white;
}  
#titlePic {
	/*background-image:url('images/titleBG.jpg');
	background-size: cover;
	background-attachment: fixed;
	*/
	/*53 69 74 65 42 79 41 6e 69 72 62 61 6e 4d 75 6b 68 65 72 6a 65 65 */
	width:100%;
	padding:0px;
	z-index:-1;
	margin: 0;
	
  }
.container, #About, #Songs, #Performances {
	padding-top: 96px; margin-top: -96px;
}

.mbHeading {
	
	width:100%;
	background:#31363c;
	color:white;
	padding:30px;
	font-size:30px;
	text-align:center;
	display:none;
}

#About {
	line-height:30px;
	padding:20px;
	background-image:url('images/navBGLight.png');
	background-image: url('images/playlistBG.jpg');
	background-attachment: fixed;
	background-size:100vw 100vh;
	color:white;
}


#Gallery {

	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
	max-width:2000px;
	border-left:65 65 6a 72 65 68 6b 75 6d 6e 61 62 72 69 6e 61;

}

.galImage {
	filter:brightness(80%);
	transition:0.2s ease;
	width:34vw;
}

.galImage:hover {
	filter:brightness(100%);
}

.carouselImg{
	width:100%;
	height:100vh;
	/* background-attachment:fixed; */
	background-size:cover;
	background-repeat: no-repeat;
}

.loc {
	height:20px!important;
	width:18px!important;
	margin-right:5px;
}

#About .col-sm-3 {
		background-image:url('images/bio1.jpg');
		background-size:cover;
		height:400px;
		width:100%;
		margin:0 auto;
}

#Songs {
	background-size: 100vw 100vh;
	transition: 1s ease;
}

#Songs .btn {
	width:80%;
}

.navbar {
	z-index:2;
}

.carousel-indicators {
	z-index:1;
}

.link-icon img, .navbar-brand {height:60px;margin:10px;animation:linkGlow 2s infinite;}
.link-icon img:hover{margin-left:20px;margin-right:20px;transform:scale(1.2);drop-shadow(0px 0px 50px #6c46da);}


h1, h2, h3, h4, h5, h6, * {
  font-weight: 300;
}



#design img {
  border-radius: 5px;
}

#design h5, #design h4 {
  color: grey;
}

.glow, .modal-content {animation:glow 2s infinite}
  

 #Performances {
   background:black;
 }

 #Performances .card {
   padding:0px;
   border:1px solid black;
   border-radius: 5px;
 }

 #Performances .card img {
   height:33.33vh;
   width:20vw;
 }



  #Performances .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  #allPerformances .modal-header, #design .modal-header {
  	background:white;
  	color:black;
  }

@media only screen and (max-width: 575px){
	*{
		
	}

.modal-lg {
	max-width:100%;
}

	.galImage {
		width:100%;
	}

	.mbHeading {
		display:block;
	}
	
	#_About {
		display: none;
	}

	#About {
		padding:0px;
		margin:0px;
	}
	
	#AboutText {
		padding:20px;
	}

	.carousel-inner{
		height: 10%;
	}
	
	.carouselImg{
		/* background-size:contain;//100vw 100vh; */
		background-size: 100% 100%;
	}

	#Contact {
		background-size:100vw 100vh ;
	}

	#About .col-sm-8 {
		margin-top:30px;
	}

	#About .col-sm-3 {
		
		background-attachment: fixed;
	}	


	#About .btn, #Songs .btn, #Contact .btn {
		width:100%;
	}

	.carouselImg {
		height: 30vh;
	}

	#titlePic {
		margin-top: 3vh;
		margin-bottom: -10px;
	}

}

/*.navbar-nav li:hover {
	color: red !important;
    background-color: #fff;
}
*/