	#Songs audio {
		width:100%;
	}

	
	#Songs source {
		height:100px;
	}

	#Songs li {
		transition: 0.2s ease;
		padding:20px;
		color:#C0C0C0 ;
		font-family: verdana;
		font-size: 20px;
		border:2px solid transparent;
		border-radius: 20px;
		margin-top:15px;
	}

	#Songs .playing {
		cursor:pointer;
		background:#093765;
		color:white;
		border-color:#093765;
		/*transform: scale(1.03);*/
		font-size: 21px;
		padding-left: 30px;
	}

	#Songs .playing:hover {

	}

	#Songs li:hover {
		cursor:pointer;
		border-color: #093765;
		color:white;
		font-size: 21px;
		padding-left: 30px;
		
	}

	#hiddenSongs {
  		display:none;
  	}

	/*#093765*/